

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.card-holder {
    position: fixed;
    width: 0px;
    overflow: visible;
}

.card-wrapper {
    display: inline-block;
    float: right;
    clear: both;
}

.card {
    position: relative;
    left: 32px;
    padding: 16px 32px 16px 64px;
    margin: 8px;
    x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.3);
    background: #fff;
    transition: all 0.3s ease-in-out 0.1s;
    margin-top: 20px;

}
.card:hover {
    position: relative;
    left: 100%;
    margin-left: -32px;
    box-shadow:
            0 -8px 8px -8px rgba(0, 0, 0, 0.4),
            0 8px 8px -8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.card-content {
    display: inline-block;
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}



.all_shoppings {
    margin-top:0px;
    margin-left: 9%;
    width: 200px;
}
.shopping_columns {
    border-radius: 6px 6px 3px 3px;
    box-sizing: border-box;
    color: steelblue;
    margin: 0 20px 20px 0;
    min-height: 200px;
    position: absolute;
    text-align: left;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
    cursor: pointer;
}
.shopping_pictures {
    border-radius: 6px 6px 3px 3px;
    box-sizing: border-box;
    float: left;
    margin: 0 10px 10px 0;
    min-height: 200px;
    position: relative;
    text-align: left;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
    cursor: pointer;
}

.shopping_icon
{
    padding-top: 10px;
    padding-left: 10px;
}
.shopping_word
{
    padding-left: 10px;
}
.about_us_picture{
    position:relative;
}
.d1 {
    width: 355px;
    height: 263px;
    margin-top:60px;
    margin-left: 7%;
    position:absolute;
}
.d2 {
    width: 355px;
    height: 263px;
    margin-top:60px;
    margin-left: 7%;
    position:absolute;
}
.d2:hover
{
    opacity: 0;
}
.d3 {
    width: 355px;
    height: 263px;
    margin-top: 60px;
    position: absolute;
    margin-left: 36%;
}
.d4 {
    width: 355px;
    height: 263px;
    margin-top: 60px;
    position: absolute;
    margin-left: 36%;
}
.d4:hover
{
    opacity: 0;
}

.d5 {
    width: 355px;
    height: 263px;
    margin-top: 60px;
    position: absolute;
    margin-left: 65%;
}
.d6{
    width: 355px;
    height: 263px;
    margin-top: 60px;
    position: absolute;
    margin-left: 65%;
}
.d6:hover
{
    opacity: 0;
}

.passages {
    width: 90px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #a8a8a8;
    position: absolute;
    margin-top: 360px;
    margin-left:450px;
}
.passagess
{
    width: 90px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #a8a8a8;
    position: absolute;
    margin-top: 360px;
    margin-left:30px;
}
.yeshu
{
    line-height: 40px;
    margin: 0 auto;
    padding-left: 240px;
}
.number
{
    margin-top:0px;
    margin-right:20px;
    margin-bottom: 0px;
    margin-left: 20px;
    display: inline-block;
}
.number1
{
    background-color: #6d8e95;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-left: 570px;
    text-align: center;
    margin-top: 360px;
}
.number2
{
    color: #6d8e95;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-top: 360px;
}
.number3
{
    color: #6d8e95;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-top: 360px;
}
.number4
{
    color: #6d8e95;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-top: 360px;
}


